@import "tailwindcss";

@theme inline {
  --color-nhs-blue: #005eb8;
  --color-nhs-light-blue: #d8e8f2;
  --color-nhs-card: #fff9f9;
  --font-poppins: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
